@model List<NasaAPODViewModel>

<h1 id="top">Informacion Diaria</h1>
@using (Html.BeginForm("NasaImages", "Home", null, FormMethod.Get, false, null))
{
    <fieldset>
        <h5>Rangos de Fechas</h5>
        <div class="input-group">
            <label>Fecha de Inicio</label> <input type="date" id="StartDate" name="StartDate" class="form-control" value="@ViewBag.StartDate" />
        </div>
        <div class="input-group">
            <label>Fecha de Fin</label> <input type="date" id="EndDate" name="EndDate" class="form-control" value="@ViewBag.EndDate" />
        </div>
        <div class="input-group">
            <label>Ordenamiento</label>
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" id="Orden" name="Orden" value="Ascendente" @if (ViewBag.Orden == "Ascendente") { @Html.Raw("checked='checked'") ; } /> Ascendente
                    <input type="radio" id="Orden" name="Orden" value="Descendente" @if (ViewBag.Orden == "Descendente") { @Html.Raw("checked='checked'") ; } /> Descendente
                </div>
            </div>
        </div>

        <br />

        <input type="submit" value="Consultar dias" class="btn btn-success" />

    </fieldset>
}
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-primary">
        @ViewBag.Message
    </div>
}
Se encontraron @Model.Count registros. Click para navegar al elemento.
<span>
    @for (int i = 1; i <= Model.Count; i++)
    {
        <a href="#@i" class="btn-sm btn-primary">@i</a> @:|
    }
</span>
<hr />
<div class="container">
    @{ int iterator = 0; }
    @foreach (var day in Model)
    {
        iterator++;
        <div class="container" id="@iterator">
            <div class="col-md-6">
                <div class="row">
                    <br />
                    <br />
                    <br />
                    <h2>
                        @if (day.Copyright == null)
                        {
                            @:No Autor
                        }
                        else
                        {
                            @day.Copyright
                        }
                    </h2>
                    <small>@DateTime.Parse(day.Date).ToString("dd-MM-yyyy") | <a href="#top" class="btn-xs btn-primary">Ir arriba ^</a></small> <br/>
                    <img src="@day.hdurl" alt="@day.Explanation" title="@day.Copyright" style="width:100%" />
                    <p> @day.Explanation</p>
                </div>
            </div>
        </div>
    }
</div>